<template>
  <v-layout row class="bike-container">
    <v-flex xs3>
      <Bike height="19"/>
    </v-flex>
    <v-flex xs3 class="time">23 min</v-flex>
    <v-spacer/>
  </v-layout>
</template>
<script>
import Bike from '@/components/icons/bike'
export default {
  components: {
    Bike
  }
}
</script>
<style scoped>
.bike-container {
  margin-top: 12px;
}
.time {
  font-weight: 900;
  color: #ff9966de;
}
</style>

