<template>
  <v-layout v-if="horaire.header" class="h_container" column justify-space-between fill-height>
    <div>
      <Bus height="19"/>
    </div>
    <div>
      <Home height="19"/>
    </div>
  </v-layout>
  <v-layout v-else class="h_container" column justify-space-between fill-height>
    <div>{{ horaire.start.value | formatDate }}</div>
    <div>
      <Arrow style="color: #999999ff; height: 7px"/>
    </div>
    <div :style="getColor(horaire.end.color)">{{ horaire.end.value | formatDate }}</div>
  </v-layout>
</template>
<script>
import Arrow from '@/components/icons/arrow'
import Home from '@/components/icons/home'
import Bus from '@/components/icons/bus'

export default {
  props: {
    horaire: Object
  },
  components: { Arrow, Home, Bus },
  filters: {
    formatDate(value) {
      let min = value.getMinutes()
      if (min < 10) min = '0' + min

      let hour = value.getHours()
      if (hour < 10) hour = '0' + hour

      return hour + ':' + min
    }
  },
  methods: {
    getColor(value) {
      return `color:${value};font-weight: 700`
    }
  }
}
</script>
<style>
.h_container {
  text-align: center;
}

.h_container > * {
  height: 20px;
}
</style>


