<template>
  <div class="itineraire">
    <v-layout row>
      <v-flex xs3 v-for="(horaire, index) in horaires" :key="index">
        <BusTravelTime :horaire="horaire"/>
      </v-flex>
    </v-layout>
    <BikeTravelTime/>
  </div>
</template>
<script>
import BusTravelTime from './BusTravelTime'
import BikeTravelTime from './BikeTravelTime'
export default {
  components: {
    BusTravelTime,
    BikeTravelTime
  },
  data: () => ({
    horaires: [
      { header: true },
      {
        start: { value: new Date('1995-12-17T12:30:00') },
        end: { value: new Date('1995-12-17T13:03:00'), color: '#009900de' }
      },
      {
        start: { value: new Date('1995-12-17T12:37:00') },
        end: { value: new Date('1995-12-17T13:15:00'), color: '#cc0000de' }
      },
      {
        start: { value: new Date('1995-12-17T12:45:00') },
        end: { value: new Date('1995-12-17T13:24:00'), color: '#ff9966de' }
      }
    ]
  })
}
</script>
<style>
.itineraire {
  padding: 2px;
  text-align: center;
}
</style>


