<template>
  <v-layout column class="menuIcon" @click="goToPage(page)">
    <slot></slot>
    <div>{{ title }}</div>
  </v-layout>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'icon'
    },
    page: {
      type: String,
      default: 'menu'
    }
  },
  methods: {
    goToPage(page) {
      this.$router.push(page)
    }
  }
}
</script>
<style scoped>
.menuIcon {
  cursor: pointer;
  color: #242d6480;
  text-align: center;
  width: 80px;
  height: 110px;
  margin: 6px;
}
.menuIcon svg {
  vertical-align: baseline;
}
.menuIcon div {
  padding: 15px 0;
}
</style>