<template>
  <v-bottom-nav v-model="activeTab" app color="primary" fixed dark shift>
    <v-btn flat to="/" value="home">
      <v-icon>person</v-icon>
    </v-btn>

    <v-btn flat value="menu">
      <span>Infos</span>
      <v-icon>info</v-icon>
    </v-btn>

    <v-btn flat to="transport" value="transport">
      <span>Se déplacer</span>
      <v-icon>directions_bus</v-icon>
    </v-btn>

    <v-btn flat>
      <span>Comment</span>
      <v-icon>comment</v-icon>
    </v-btn>
  </v-bottom-nav>
</template>
<script>
export default {
  data() {
    return {
      activeTab: 'home'
    }
  }
}
</script>
}
</script>