<template>
  <nav>
    <v-toolbar app color="primary" dark>
      <v-toolbar-side-icon @click="goToPage('menu')">
        <v-icon>menu</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title class="headline" @click="goToPage('home')" style="cursor: pointer">
        <span>ComUE d'Aquitaine</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
  </nav>
</template>
<script>
export default {
  methods: {
    goToPage(page) {
      this.$router.push({ name: page })
    }
  }
}
</script>

