<template>
  <svg
    width="12px"
    height="8px"
    viewBox="0 0 12 8"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="ic_arrow" fill="currentColor">
      <polygon id="path255" points="1.41 0.24 6 4.83 10.59 0.24 12 1.65 6 7.65 0 1.65"></polygon>
    </g>
  </svg>
</template>