<template>
  <svg
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 24 20.800039"
  >
    <!-- style="fill:#242d64;fill-opacity:1" -->
    <g
      fill="currentColor"
      transform="translate(3.0009e-4,-1.19806)"
      id="c35668cd04b04928ba4e6e1d90976ba5"
    >
      <path
        style="stroke-width:0.2;stroke-linejoin:round"
        id="path250"
        d="m 4.9997,20.4981 c -1.933,0 -3.5,-1.567 -3.5,-3.5 0,-1.933 1.567,-3.5 3.5,-3.5 1.933,0 3.5,1.567 3.5,3.5 0,1.933 -1.567,3.5 -3.5,3.5 z m 0,-8.5 c -2.762,0 -5.00000009,2.238 -5.00000009,5 0,2.761 2.23800009,5 5.00000009,5 2.761,0 5,-2.239 5,-5 0,-2.762 -2.239,-5 -5,-5 z m 9.8,-2.00003 h 4.2 V 8.19806 h -3.202 l -1.934,-3.26599 c -0.296,-0.5 -0.841,-0.834 -1.464,-0.834 -0.469,0 -0.894,0.18999 -1.202,0.49801 l -3.697,3.69699 c -0.309,0.30799 -0.501,0.734 -0.501,1.205 0,0.62903 0.334,1.16103 0.85,1.47163 l 3.35,2.0284 v 5 h 1.8 v -6.478 l -2.25,-1.67203 2.32,-2.33 m 5.93,12.98003 c -1.933,0 -3.5,-1.567 -3.5,-3.5 0,-1.933 1.567,-3.5 3.5,-3.5 1.933,0 3.5,1.567 3.5,3.5 0,1.933 -1.567,3.5 -3.5,3.5 z m 0,-8.5 c -2.762,0 -5,2.238 -5,5 0,2.761 2.238,5 5,5 2.761,0 5,-2.239 5,-5 0,-2.762 -2.239,-5 -5,-5 z m -3,-7.20003 c 0.992,0 1.8,-0.80701 1.8,-1.8 0,-0.993 -0.808,-1.80001 -1.8,-1.80001 -0.995,0 -1.8,0.80701 -1.8,1.80001 0,0.99299 0.805,1.8 1.8,1.8 z"
      ></path>
    </g>
  </svg>
</template>
