<template>
  <svg viewBox="0 0 70 45" version="1.1">
    <title>ic_big_cloud</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_cloud" fill="currentColor">
        <path
          d="M67.14,27.27 C65.55,25.27 63.53,24.01 61.06,23.49 C61.13,23.04 61.17,22.35 61.17,21.42 C61.17,15.71 59.15,10.85 55.12,6.83 C51.09,2.81 46.23,0.81 40.56,0.81 C36.45,0.81 32.71,1.92 29.33,4.14 C25.95,6.36 23.44,9.28 21.8,12.9 C20.16,12.38 18.48,12.12 16.76,12.12 C12.28,12.12 8.45,13.73 5.28,16.96 C2.11,20.19 0.52,24.04 0.52,28.52 C0.52,33.04 2.11,36.91 5.28,40.14 C8.45,43.37 12.28,44.98 16.76,44.98 L58.76,44.98 C61.71,44.98 64.24,43.92 66.35,41.79 C68.46,39.66 69.5100926,37.1 69.5100926,34.12 C69.52,31.56 68.72,29.27 67.14,27.27 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
