<template>
  <svg viewBox="0 0 70 70" version="1.1">
    <title>ic_big_drink</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_drink" fill="currentColor">
        <path
          d="M55.14,63.66 L40.77,63.66 L40.77,32.03 L69.52,0.41 L0.52,0.41 L29.27,32.03 L29.27,63.65 L14.89,63.65 C14.09,63.65 13.4,63.93 12.85,64.48 C12.29,65.04 12.02,65.72 12.02,66.52 L12.02,69.4 L58.02,69.4 L58.02,66.52 C58.02,65.72 57.74,65.03 57.19,64.48 C56.63,63.93 55.95,63.66 55.14,63.66 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
