<template>
  <svg viewBox="0 0 66 66" version="1.1">
    <title>ic_big_emergency</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_emergency" fill="currentColor">
        <path
          d="M65.42,30.69 C65.35,29.87 65.28,29.22 65.19,28.74 L65.12,28.03 C65.03,27.6 64.81,27.22 64.44,26.89 C64.07,26.57 63.67,26.4 63.24,26.4 L48.68,26.4 L58.95,16.13 C59.25,15.83 59.43,15.44 59.47,14.96 C59.51,14.48 59.38,14.07 59.08,13.73 L52.19,6.84 C51.84,6.54 51.43,6.41 50.96,6.45 C50.49,6.49 50.09,6.67 49.79,6.97 L39.52,17.24 L39.52,2.68 C39.52,2.25 39.36,1.85 39.03,1.48 C38.7,1.11 38.33,0.88 37.89,0.8 C36.11,0.54 34.49,0.41 33.02,0.41 C32.37,0.41 31.63,0.44 30.81,0.51 C29.99,0.58 29.34,0.65 28.86,0.74 L28.14,0.81 C27.71,0.9 27.33,1.12 27,1.49 C26.67,1.86 26.51,2.26 26.51,2.69 L26.51,17.25 L16.24,6.98 C15.94,6.68 15.55,6.5 15.07,6.46 C14.59,6.42 14.18,6.55 13.84,6.85 L6.95,13.74 C6.65,14.09 6.52,14.5 6.56,14.97 C6.6,15.45 6.78,15.84 7.08,16.14 L17.35,26.41 L2.79,26.41 C2.36,26.41 1.96,26.57 1.59,26.9 C1.22,27.23 0.99,27.6 0.91,28.04 C0.65,29.82 0.52,31.44 0.52,32.92 C0.52,33.57 0.55,34.31 0.62,35.13 C0.69,35.95 0.76,36.6 0.85,37.08 L0.92,37.79 C1.01,38.22 1.23,38.6 1.6,38.93 C1.97,39.25 2.37,39.42 2.8,39.42 L17.36,39.42 L7.09,49.69 C6.79,49.99 6.61,50.38 6.57,50.86 C6.53,51.34 6.66,51.75 6.96,52.09 L13.85,58.98 C14.2,59.28 14.61,59.41 15.08,59.37 C15.56,59.33 15.95,59.15 16.25,58.85 L26.52,48.58 L26.52,63.14 C26.52,63.57 26.68,63.97 27.01,64.34 C27.34,64.71 27.71,64.94 28.15,65.02 C29.92,65.28 31.55,65.41 33.02,65.41 C33.67,65.41 34.41,65.38 35.23,65.31 C36.05,65.25 36.7,65.17 37.18,65.08 L37.9,65.01 C38.33,64.92 38.71,64.7 39.04,64.33 C39.36,63.96 39.53,63.56 39.53,63.13 L39.53,48.57 L49.8,58.84 C50.1,59.14 50.49,59.32 50.97,59.36 C51.45,59.4 51.86,59.27 52.2,58.97 L59.09,52.08 C59.39,51.73 59.52,51.32 59.48,50.85 C59.44,50.37 59.26,49.98 58.96,49.68 L48.69,39.41 L63.25,39.41 C63.68,39.41 64.08,39.25 64.45,38.92 C64.82,38.59 65.05,38.22 65.13,37.78 C65.39,36 65.52,34.38 65.52,32.9 C65.52,32.25 65.49,31.51 65.42,30.69 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
