<template>
  <svg viewBox="0 0 62 68" version="1.1">
    <title>ic_big_euro</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_euro" fill="currentColor">
        <path
          d="M50.91,45.15 C50.91,46.85 50.58,48.41 49.92,49.82 C49.26,51.24 48.44,52.4 47.45,53.3 C46.46,54.2 45.37,54.97 44.16,55.6 C42.95,56.22 41.81,56.68 40.73,56.96 C39.65,57.24 38.68,57.38 37.81,57.38 C37.09,57.38 36.33,57.28 35.51,57.07 C34.7,56.86 33.76,56.47 32.71,55.91 C31.65,55.34 30.65,54.63 29.71,53.76 C28.77,52.89 27.84,51.71 26.93,50.22 C26.02,48.73 25.29,47.04 24.72,45.15 L46.2,45.15 L40.53,39.48 L23.53,39.48 C23.3,37.59 23.19,35.7 23.19,33.81 L46.2,33.81 L40.53,28.14 L23.53,28.14 C23.87,25.34 24.49,22.85 25.4,20.66 C26.31,18.47 27.3,16.75 28.38,15.5 C29.46,14.25 30.62,13.22 31.86,12.41 C33.11,11.6 34.22,11.05 35.2,10.77 C36.18,10.49 37.07,10.35 37.86,10.35 C38.69,10.35 39.64,10.49 40.72,10.77 C41.8,11.05 42.94,11.52 44.15,12.16 C45.36,12.8 46.45,13.58 47.44,14.48 C48.43,15.38 49.24,16.54 49.91,17.94 C50.57,19.34 50.9,20.85 50.9,22.47 L60.76,22.47 C59.63,16.01 57.21,10.76 53.51,6.72 C49.47,2.31 44.3,0.1 37.99,0.1 C30.21,0.1 24.09,3.08 19.63,9.05 C18.27,10.86 16.97,13.38 15.72,16.59 C14.47,19.8 13.62,23.65 13.17,28.15 L0.87,28.15 L6.54,33.82 L12.89,33.82 C12.93,35.6 13.04,37.48 13.23,39.49 L0.87,39.49 L6.54,45.16 L14.13,45.16 C14.89,48.45 15.85,51.35 17.02,53.86 C18.19,56.37 19.36,58.33 20.53,59.72 C24.95,65.05 30.56,67.71 37.36,67.71 C46.5,67.71 53.19,64.14 57.42,57 C59.69,53.07 60.93,49.12 61.16,45.16 L50.91,45.16 L50.91,45.15 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
