<template>
  <svg viewBox="0 0 74 68" version="1.1">
    <title>ic_big_heart</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_heart" fill="currentColor">
        <path
          d="M72.08,12.58 C70.82,9.93 69.19,7.68 67.17,5.82 C65.15,3.96 62.82,2.52 60.17,1.51 C57.52,0.5 54.86,0.05 52.16,0.16 C49.47,0.27 46.77,1.14 44.05,2.75 C41.37,4.37 39.03,6.7 37.05,9.75 C34.9,6.7 32.44,4.37 29.68,2.75 C26.92,1.13 24.2,0.27 21.51,0.16 C18.82,0.05 16.16,0.5 13.54,1.51 C10.92,2.52 8.62,3.95 6.64,5.82 C4.67,7.68 3.07,9.93 1.86,12.58 C0.65,15.23 0.04,17.98 0.04,20.85 C0.04,23.41 0.79,26.04 2.29,28.75 C3.79,31.46 5.9,34.26 8.61,37.13 C11.32,40 14.16,42.86 17.12,45.71 C20.08,48.56 23.44,51.98 27.21,55.97 C30.98,59.96 34.25,63.86 37.03,67.68 C39.81,63.87 43.07,59.97 46.82,55.97 C50.56,51.98 53.93,48.56 56.91,45.71 C59.89,42.86 62.73,40 65.42,37.13 C68.11,34.26 70.21,31.47 71.71,28.75 C73.21,26.03 73.96,23.4 73.96,20.85 C73.96,17.98 73.33,15.22 72.08,12.58 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
