<template>
  <svg
    width="16px"
    height="21px"
    viewBox="0 0 16 21"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="ic_loc1" fill="currentColor" fill-rule="nonzero">
      <path
        d="M8,0 C11.31,0 14,2.66 14,5.95 C14,10.41 8,17 8,17 C8,17 2,10.41 2,5.95 C2,2.66 4.69,0 8,0 Z M8,4 C6.9,4 6,4.9 6,6 C6,7.1 6.9,8 8,8 C9.1,8 10,7.1 10,6 C10,4.9 9.1,4 8,4 Z M16,17 C16,19.21 12.42,21 8,21 C3.58,21 0,19.21 0,17 C0,15.71 1.22,14.56 3.11,13.83 L3.74,14.73 C2.67,15.19 2,15.81 2,16.5 C2,17.88 4.69,19 8,19 C11.31,19 14,17.88 14,16.5 C14,15.81 13.33,15.19 12.25,14.74 L12.88,13.84 C14.78,14.56 16,15.71 16,17 Z"
        id="path158"
      ></path>
    </g>
  </svg>
</template>