<template>
  <svg
    viewBox="0 0 14 20"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
      <g id="ic_loc2" fill="currentColor" fill-rule="nonzero">
        <path
          d="M7,9.5 C5.62,9.5 4.5,8.38 4.5,7 C4.5,5.62 5.62,4.5 7,4.5 C8.38,4.5 9.5,5.62 9.5,7 C9.5,8.38 8.38,9.5 7,9.5 Z M7,0 C3.14,0 0,3.13 0,7 C0,12.25 7,20 7,20 C7,20 14,12.25 14,7 C14,3.13 10.86,0 7,0 Z"
          id="path428"
        ></path>
      </g>
    </g>
  </svg>
</template>