<template>
  <svg viewBox="0 0 62 67" version="1.1">
    <title>ic_big_music</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_music" fill="currentColor">
        <path
          d="M59.87,1.12 C58.97,0.56 57.8,0.56 56.35,1.12 L20.34,10.22 C18.89,10.7 17.89,11.33 17.34,12.1 C16.8,12.88 16.53,13.98 16.53,15.39 L16.53,51.07 C14.07,50.44 11.5,50.57 8.82,51.46 C5.88,52.43 3.6,53.97 1.98,56.07 C0.36,58.18 -0.11,60.25 0.56,62.3 C1.23,64.35 2.83,65.76 5.36,66.52 C7.89,67.28 10.63,67.18 13.57,66.21 C15.99,65.43 18.02,64.15 19.66,62.36 C21.3,60.57 22.12,58.89 22.12,57.33 L22.12,23.5 L55.62,14.85 L55.62,43.94 C53.16,43.35 50.59,43.5 47.91,44.39 C44.97,45.32 42.69,46.84 41.07,48.97 C39.45,51.1 38.98,53.17 39.65,55.2 C40.32,57.23 41.92,58.63 44.45,59.39 C46.98,60.15 49.72,60.07 52.66,59.14 C55.27,58.28 57.35,57.1 58.89,55.59 C60.44,54.08 61.21,52.31 61.21,50.26 L61.21,3.86 C61.21,2.59 60.76,1.68 59.87,1.12 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
