<template>
  <svg viewBox="0 0 64 63" version="1.1">
    <title>ic_big_pen</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_pen" fill="currentColor">
        <polygon id="Path" points="0.9 63.03 17.91 57.44 6.58 46.12"></polygon>
        <polygon id="Path" points="11.15 42.01 22.02 52.87 53.19 21.7 42.33 10.79"></polygon>
        <path
          d="M62.48,9.21 L54.71,1.44 C54.24,1 53.68,0.78 53.04,0.78 C52.4,0.78 51.84,1 51.36,1.44 L46.69,6.47 L57.55,17.33 L62.42,12.51 C62.89,12.07 63.13,11.53 63.13,10.89 C63.14,10.24 62.92,9.69 62.48,9.21 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
