<template>
  <svg viewBox="0 0 68 68" version="1.1">
    <title>ic_big_search</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_search" fill="currentColor">
        <path
          d="M66.19,57.96 L50.98,42.69 C53.83,38.29 55.25,33.46 55.25,28.2 L55.19,27.92 L55.25,27.81 C55.25,24.11 54.53,20.58 53.09,17.21 C51.65,13.84 49.71,10.95 47.29,8.52 C44.87,6.09 41.97,4.16 38.6,2.72 C35.23,1.28 31.7,0.56 28,0.56 C24.3,0.56 20.77,1.28 17.4,2.72 C14.03,4.16 11.14,6.1 8.71,8.52 C6.28,10.94 4.35,13.84 2.91,17.21 C1.47,20.58 0.75,24.11 0.75,27.81 C0.75,31.51 1.47,35.04 2.91,38.41 C4.35,41.78 6.29,44.67 8.71,47.1 C11.13,49.53 14.03,51.46 17.4,52.9 C20.77,54.34 24.3,55.06 28,55.06 L28.11,55 L28.39,55.06 C33.61,55.06 38.46,53.62 42.93,50.73 L58.14,66 C59.1,66.85 59.93,67.27 60.61,67.25 C61.29,67.23 62.08,66.82 62.97,66 L66.19,62.72 C66.93,61.76 67.3,60.9 67.3,60.14 C67.3,59.39 66.93,58.66 66.19,57.96 Z M43.48,36.81 C41.89,39.55 39.72,41.71 36.99,43.3 C34.25,44.89 31.25,45.69 28,45.69 C24.75,45.69 21.75,44.89 19.01,43.3 C16.27,41.71 14.11,39.54 12.52,36.81 C10.93,34.07 10.13,31.07 10.13,27.82 C10.13,24.57 10.93,21.57 12.52,18.83 C14.11,16.09 16.28,13.93 19.01,12.34 C21.75,10.75 24.75,9.95 28,9.95 C31.25,9.95 34.25,10.75 36.99,12.34 C39.73,13.93 41.89,16.1 43.48,18.83 C45.07,21.57 45.87,24.57 45.87,27.82 C45.87,31.07 45.08,34.07 43.48,36.81 Z"
          id="Shape"
        ></path>
      </g>
    </g>
  </svg>
</template>
