<template>
  <svg viewBox="0 0 68 62" version="1.1">
    <title>ic_big_star</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="ic_big_star" fill="currentColor">
        <path
          d="M67.79,21.89 C67.68,21.57 67.24,21.41 66.49,21.41 L42.18,21.41 L34.76,1.41 C34.5,0.69 34.17,0.33 33.77,0.33 C33.37,0.33 33.04,0.69 32.78,1.41 L25.47,21.41 L1.61,21.41 C0.82,21.41 0.36,21.57 0.25,21.89 C0.14,22.21 0.4,22.6 1.04,23.05 L20.42,37.16 L13.05,59.88 C12.79,60.64 12.79,61.12 13.08,61.33 C13.37,61.54 13.83,61.41 14.47,60.96 L33.91,47.02 L53.29,61.02 C53.93,61.47 54.39,61.6 54.68,61.39 C54.97,61.18 54.97,60.7 54.71,59.94 L47.34,37.27 L67,23.05 C67.64,22.6 67.91,22.21 67.79,21.89 Z"
          id="Path"
        ></path>
      </g>
    </g>
  </svg>
</template>
