<template>
  <svg
    viewBox="0 0 54 52"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="ic_weather" fill="currentColor" fill-rule="nonzero">
      <path
        d="M30.3808338,9.90291685 C36.3791672,12.5716669 39.5562505,18.9258336 38.4633339,25.1275004 C41.6912506,27.9233338 43.7500006,32.0408338 43.7500006,36.6666672 L43.7500006,37.0987505 C44.5379173,36.8191672 45.402084,36.6666672 46.2916673,36.6666672 C50.510834,36.6666672 53.9166674,40.0725006 53.9166674,44.2916673 C53.9166674,48.510834 50.510834,51.9166674 46.2916673,51.9166674 L13.2500002,51.9166674 C7.63291679,51.9166674 3.0833334,47.367084 3.0833334,41.7500006 C3.0833334,36.1329172 7.63291679,31.5833338 13.2500002,31.5833338 L13.9362502,31.6087505 C10.6575002,27.6437504 9.69166682,22.0012503 11.9283335,16.9941669 C15.0800002,9.92833352 23.340417,6.77666681 30.3808338,9.90291685 Z M28.3220837,14.5541669 C23.8233337,12.5462502 18.5875003,14.5795836 16.5795836,19.052917 C15.4358336,21.645417 15.6137502,24.4920837 16.8337502,26.8304171 C19.6295836,23.5262504 23.8233337,21.416667 28.5000004,21.416667 C30.2791671,21.416667 32.0075004,21.721667 33.5833338,22.2808337 C33.4308338,19.0275003 31.4991671,15.9775003 28.3220837,14.5541669 Z M32.4395838,5.25166679 C31.0416671,4.64166678 29.6183337,4.18416677 28.1950004,3.9300001 L34.4983338,0.625833394 L36.8112505,7.97125016 C35.5150005,6.90375014 34.0662505,5.98875013 32.4395838,5.25166679 Z M13.4787502,7.28500015 C12.2333335,8.17458349 11.1404168,9.19125017 10.2000002,10.3095835 L10.4795835,3.19291676 L18.0029169,4.87041678 C16.4270836,5.42958346 14.9020836,6.2429168 13.4787502,7.28500015 Z M43.6991673,20.6795837 C43.5466673,19.1545836 43.2162506,17.7058336 42.7333339,16.3333336 L48.757084,20.1458336 L43.5466673,25.8137504 C43.8262506,24.161667 43.8770839,22.4333337 43.6991673,20.6795837 Z M5.72666677,24.7208337 C5.87916677,26.2458337 6.20958344,27.6945837 6.69250011,29.0670838 L0.668750035,25.2545837 L5.87916677,19.586667 C5.6250001,21.2387503 5.5487501,22.9670837 5.72666677,24.7208337 Z M46.2916673,41.7500006 L38.6666668,41.7500006 L38.6666668,36.6666672 C38.6666668,31.0495838 34.1170838,26.5000004 28.5000004,26.5000004 C22.882917,26.5000004 18.3333336,31.0495838 18.3333336,36.6666672 L13.2500002,36.6666672 C10.4541668,36.6666672 8.1666668,38.9541672 8.1666668,41.7500006 C8.1666668,44.545834 10.4541668,46.833334 13.2500002,46.833334 L46.2916673,46.833334 C47.689584,46.833334 48.833334,45.689584 48.833334,44.2916673 C48.833334,42.8937506 47.689584,41.7500006 46.2916673,41.7500006 Z"
        id="path99"
      ></path>
    </g>
  </svg>
</template>