<template>
  <v-container class="home" fluid fill-height>
    <v-layout row wrap align-center>
      <!-- <v-flex xs12 color="primary"> -->
      <div
        style="min-height: 100px; display: flex; flex-direction: row; align-items: stretch; width: 100%"
      >
        <Itineraire class="home_component"/>
        <Meteo class="home_component"/>
      </div>
      <!-- </v-flex> -->
      <Planning style="min-height: 180px; border-radius: 8px; width: 100%"/>
      <v-flex xs12>
        <Mail/>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Itineraire from './route/Route'
import Mail from './mail/Mail'
import Meteo from './Meteo'
import Planning from './Planning'

export default {
  components: {
    Itineraire,
    Mail,
    Meteo,
    Planning
  }
}
</script>
<style lang="stylus">
.home_component {
  flex-grow: 1;
  border: 1pt solid #ddddddff;
  border-radius: 8px;
  padding: 10px;
  margin: 2px;
  color: #242d64ff;
}
</style>
