<template>
  <v-layout column align-center>
    <v-flex xs12>
      <v-layout>
        <v-flex xs6>
          <v-layout column align-center id="temp" fill-height justify-space-between>
            <v-flex xs12 class="currentTemp">13°</v-flex>
            <v-flex xs12 class="minMax">14°/3°</v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs6>
          <Weather height="60px"/>
        </v-flex>
      </v-layout>
    </v-flex>
    <div id="localization">
      <LocPin id="locPin"/>La Rochelle Université
    </div>
  </v-layout>
</template>
<script>
import Weather from '@/components/icons/weather'
import LocPin from '@/components/icons/loc1'
export default {
  components: {
    Weather,
    LocPin
  }
}
</script>
<style>
#localization {
  display: flex;
}

#localization svg {
  margin-right: 5px;
}

.currentTemp {
  /* font-family: 'Android Roboto'; */
  font-size: 30pt;
}

#temp .flex {
  line-height: 1;
  padding: 0;
}

.minMax {
  color: #000000de;
  margin-top: 5px;
  font-size: 11pt;
  vertical-align: center;
}
</style>


